.serverstatus__container {
  width: 100%;
  height: 30%;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.92) 44.27%,
      rgba(129, 129, 129, 0.455701) 72.4%,
      rgba(129, 129, 129, 0.455701) 72.41%,
      rgba(129, 129, 129, 0.455701) 99.99%,
      rgba(255, 255, 255, 0) 100%
    ),
    url("../../assets/settings.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  color: white;
  font-family: "minecraft", Arial, Helvetica, sans-serif;

  .serverstatus__title {
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  .serverstatus__status {
    &.offline {
      color: red;
    }

    &.online {
      color: green;
    }
  }

  .serverstatus__description {
    margin-top: 15px;
    text-align: left;
    &::first-letter {
      text-transform: uppercase;
    }
    width: 177px;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
  }

  .serverstatus__button {
    font-family: "minecraft";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    border: none;
    background: #f35454;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 179px;
    height: 45px;
    margin-top: 15px;
    color: white;
  }
}
