.navbar__container {
  width: 100%;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  height: 43px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  backdrop-filter: blur(2px);
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__icon {
    width: auto;
    height: 100%;
  }

  .navbar__link {
    color: white;
    appearance: none;
    text-decoration: none;
    font-family: "minecraft", Arial, Helvetica, sans-serif;
    font-size: 37px;
    width: fit-content;
    height: fit-content;
    line-height: 1em;
  }

  .navbar__discord {
    width: auto;
    height: 100%;
  }
}
